body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar {
    background-color: #19597f;
    padding: 1rem 2rem;
}

.navbar .navbar-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-circle img {
    width: 100%;
    height: auto;
}

.navbar-nav .nav-link {
    color: white !important;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 1rem;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.main {
    text-align: center;
    margin: 120px auto;
    max-width: 600px;
    font-family: "Verdana";
}

.card-schedule {
    background-color: #f1f1f1;
    border-radius: 12px;
    padding: 1.5rem;
    margin-top: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.time-option {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-checkin {
    background-color: #155791;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px 24px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.icon-box {
    background-color: #f1f1f1;
    border-radius: 12px;
    padding: 1.2rem 1rem;
    margin: 1.5rem 0.62rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 130px;
    text-align: center;
    transition: transform 0.2s ease;
}

.icon-box:hover {
    transform: translateY(-4px);
}

.icon-box i {
    font-size: 30px;
    color: #000;
    margin-bottom: 0.5rem;
}

.icon-box p {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

footer {
    background-color: #19597f;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
